<div class="alert alert-info">
    <p>{% trans %}Application setup at{% endtrans %}: <a href="https://github.com/settings/applications/new">https://github.com/settings/applications/new</a></p>

    {% trans %}Set the{% endtrans %} <code>Homepage URL</code> to:
    <ul>
        <li>{{ url('home') }}</li>
    </ul>

    {% trans %}Set the{% endtrans %} <code>Authorization callback URL</code> to:
    <ul>
        <li>{{ url('home') }}</li>
    </ul>
</div>
