<div class="alert alert-info">
    <p>{% trans %}Application setup at{% endtrans %}: <a href="https://console.developers.google.com/">https://console.developers.google.com/</a></p>

    {% trans %}Add one{% endtrans %} <code>Authorized JavaScript origins</code>:
    <ul>
        <li>{{ app.request.schemeAndHttpHost }}</li>
    </ul>

    {% trans %}Add two{% endtrans %} <code>Authorized redirect URIs</code>:
    <ul>
        <li>{{ url('zikulausersmodule_access_login') }}</li>
        <li>{{ url('zikulausersmodule_registration_register') }}</li>
    </ul>

    <strong>{% trans %}You must also enable the Google+ Api{% endtrans %}</strong>
</div>
