<div class="alert alert-info">
    <p>{% trans %}Application setup at{% endtrans %}: <a href="https://www.linkedin.com/secure/developer?newapp=">https://www.linkedin.com/secure/developer?newapp=</a></p>

    <p>{% trans %}Check the box under "Default Application Permissions" for `r_basicprofile` and `r_emailaddress`{% endtrans %}</p>
    {% trans %}Add two{% endtrans %} <code>Authorized redirect URLs</code>:
    <ul>
        <li><code>{{ url('zikulausersmodule_access_login') }}</code></li>
        <li><code>{{ url('zikulausersmodule_registration_register') }}</code></li>
    </ul>
</div>
