<h3>
    <i class="fas fa-list"></i>{% trans %}Mappings list{% endtrans %}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cMethod" />
        <col id="cMethodId" />
        <col id="cZikulaId" />
    </colgroup>
    <thead>
        <tr>
            <th id="hMethod" scope="col">{% trans %}Method{% endtrans %}</th>
            <th id="hMethodId" scope="col">{% trans %}MethodId{% endtrans %}</th>
            <th id="hZikulaId" scope="col">{% trans %}ZikulaId{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for mapping in mappings %}
            <tr>
                <td headers="hMethod">{{ mapping.method }}</td>
                <td headers="hMethodId">{{ mapping.methodId }}</td>
                <td headers="hZikulaId">{{ mapping.zikulaId }}</td>
            </tr>
        {% else %}
            <tr class="table-info"><td colspan="3" class="text-center">{% trans %}No items found.{% endtrans %}</td></tr>
        {% endfor %}
    </tbody>
</table>
